@{
    ViewData["Title"] = "Schedules";
}

<section id="schedule" class="schedule py-5 bg-secondary-subtle">
    <div class="container">
        <h2 class="text-center mb-4">Weekly Gym Schedule</h2>
        <p class="text-center mb-5">
            Discover Our Weekly Workout Schedule And Plan Your Sessions. We Offer Various Classes <br> Like Yoga, Boxing, Aerobics, Cardio, Power Fitness <br> And More To Suit Your Fitness Goals.
        </p>

        <div class="table-responsive">
            <table class="table table-bordered text-center">
                <thead class="bg-dark text-light">
                    <tr>
                        <th>SUN</th>
                        <th>MON</th>
                        <th>TUE</th>
                        <th>WED</th>
                        <th>THU</th>
                        <th>FRI</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="bg-secondary-subtle text-dark fw-bold ">Yoga <p class="text-secondary class-time">6:00 PM - 7:00 PM</p></td>
                        <td class="bg-secondary-subtle text-dark fw-bold">Cardio <p class="text-secondary class-time">6:00 PM - 7:00 PM</p></td>
                        <td class="bg-secondary-subtle text-dark fw-bold">Boxing<p class="text-secondary class-time">6:00 PM - 7:00 PM</p></td>
                        <td class="bg-secondary-subtle text-dark fw-bold"> <p class="text-secondary class-time"> </p></td>
                        <td class="bg-secondary-subtle text-dark fw-bold">Cardio <p class="text-secondary class-time">6:00 PM - 7:00 PM</p></td>
                        <td class="bg-secondary-subtle text-dark fw-bold"> <p class="text-secondary class-time"> </p></td>
                    </tr>
                    <tr>
                        <td class="bg-secondary-subtle text-dark fw-bold">Boxing <p class="text-secondary class-time">6:00 PM - 7:00 PM</p></td>
                        <td class="bg-secondary-subtle text-dark fw-bold"> <p class="text-secondary class-time"> </td>
                        <td class="bg-secondary-subtle text-dark fw-bold"> <p class="text-secondary class-time"> </p></td>
                        <td class="bg-secondary-subtle text-dark fw-bold">Crossfit <p class="text-secondary class-time">6:00 PM - 7:00 PM</p></td>
                        <td class="bg-secondary-subtle text-dark fw-bold"> <p class="text-secondary class-time"> </p></td>
                        <td class="bg-secondary-subtle text-dark fw-bold"> <p class="text-secondary class-time"> </p></td>
                    </tr>
                    <tr>
                        <td class="bg-secondary-subtle text-dark fw-bold"> <p class="text-secondary class-time"> </p></td>
                        <td class="bg-secondary-subtle text-dark fw-bold">Cardio <p class="text-secondary class-time">6:00 PM - 7:00 PM</p></td>
                        <td class="bg-secondary-subtle text-dark fw-bold"> <p class="text-secondary class-time"> </p></td>
                        <td class="bg-secondary-subtle text-dark fw-bold">Cardio <p class="text-secondary class-time">6:00 PM - 7:00 PM</p></td>
                        <td class="bg-secondary-subtle text-dark fw-bold"> <p class="text-secondary class-time"> </p></td>
                        <td class="bg-secondary-subtle text-dark fw-bold"> <p class="text-secondary class-time"> </p></td>
                    </tr>
                    <tr>
                        <td class="bg-secondary-subtle text-dark fw-bold"> <p class="text-secondary class-time"> </p></td>
                        <td class="bg-secondary-subtle text-dark fw-bold">Boxing <p class="text-secondary class-time">6:00 PM - 7:00 PM</p> </td>
                        <td class="bg-secondary-subtle text-dark fw-bold"> <p class="text-secondary class-time"> </p></td>
                        <td class="bg-secondary-subtle text-dark fw-bold">Body Work <p class="text-secondary class-time">6:00 PM - 7:00 PM</p></td>
                        <td class="bg-secondary-subtle text-dark fw-bold">Boxing <p class="text-secondary class-time">6:00 PM - 7:00 PM</p></td>
                        <td class="bg-secondary-subtle text-dark fw-bold">Cardio<p class="text-secondary class-time">8:00 PM - 10:00 PM</p></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

