@model Fitness_Center_Management.Models.Trainer

@{
   Layout = "~/Views/Shared/_TrainerLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>Trainer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Trainersid" />
            <div class="form-group">
                <label asp-for="Firstname" class="control-label"></label>
                <input asp-for="Firstname" class="form-control" />
                <span asp-validation-for="Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lastname" class="control-label"></label>
                <input asp-for="Lastname" class="form-control" />
                <span asp-validation-for="Lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Expertise" class="control-label"></label>
                <input asp-for="Expertise" class="form-control" />
                <span asp-validation-for="Expertise" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PictureUrl" class="control-label"></label>
                <input asp-for="PictureUrl" class="form-control" />
                <span asp-validation-for="PictureUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Socialfacebook" class="control-label"></label>
                <input asp-for="Socialfacebook" class="form-control" />
                <span asp-validation-for="Socialfacebook" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Socialtwitter" class="control-label"></label>
                <input asp-for="Socialtwitter" class="form-control" />
                <span asp-validation-for="Socialtwitter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sociallinkedin" class="control-label"></label>
                <input asp-for="Sociallinkedin" class="form-control" />
                <span asp-validation-for="Sociallinkedin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-route-id="@ViewData["trainerId"]">Back</a>
</div>

</body>
</html>
